
.header {
    padding: 3px 0;
    font-size: 24px;
    line-height: normal;
    background: #ffffff;
    color: black;
}
.container{
    max-width: 1152px;
    margin: 0 auto;
    padding: 0 15px;
}
.head_cont{
    display: flex;
}
.nav_cont{
    display: flex;
    margin: 0 auto auto 0;
}
.nav{
    display: flex;
    padding: 0 ;
    justify-content:space-between;
    align-items: center;
}
.menu{
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    cursor: pointer;
}
.menu_item{
    padding-right: 2.5em;


}
.menu_item:first-child{
    padding-left: 120px;

}
.cab{
    display: flex;
    padding-right: 12px;
}
a{
    text-decoration: none;
    color: inherit;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    display: flex;
    background-color: rgba(255, 255, 255, 0.95);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    flex-direction: column;
}

.all{
    display: flex;
    flex-direction: row;
    margin: 5em 0 0 0;
    justify-content: center;
    align-items: center;
}

.box1{
    display: flex;
    max-width: 324px;
    max-height: 324px;
    margin: 0 10em 0 0;
    /* margin: 200px 0 0 400px; */
    border-radius: 12px;
}

.box {
    background: #E16A48;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    max-height: 700px;
    max-width: 450px;
    /* margin: 100px 0 0 300px; */
    justify-content: center;


}
.text_center {
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.text_bottom {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    justify-content: center;
    margin: 0 2px 0 2px;

    font-size: 18px;


}
.inside {
    background: aliceblue;
    margin: auto;
    border-radius: 12px;
    justify-content: center;
}

/* Footer

 */
.footer{
    background-color: rgba(170, 172, 172, 1);
    min-height: 44px;
    position:fixed;
    left:0;
    bottom:0;
    height:44px;
    width:100%;
}
.fot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-img{
    max-height: 35px;
    margin: 5px 0 0 20px;
}