@media only screen and (max-width: 1200px){
    /* .container{
        width: min-content;
    } */
    .container_enter{
        width:60% ;
        margin: 0 auto;
    }
    .menu_item{
        display: none;
    }
    .header{
        width: 65%;
    }
    .enter_form {
        padding: 0 0.5em 0 0.5em;
    }
}