.header {
    padding: 3px 0px;
    font-size: 24px;
    line-height: normal;
    background: #ffffff;
    color: black;
}
.container{
    max-width: 1152px;
    margin: 0 auto;
    padding: 0px 15px;
}
.head_cont{
    display: flex;
}
.nav_cont{
    display: flex;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}
.nav{
    display: flex;
    padding: 0 auto;
    justify-content:space-between;
    align-items: center;
}
.menu{
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
}
.menu_item{
    padding-right: 2.5em;
}
.menu_item:first-child{
    padding-left: 181px;
}
.cab{
    display: flex;
    padding-right: 12px;
}
a{
    text-decoration: none;
    color: inherit;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: rgba(255, 255, 255, 0.95);
}
/* .main{
    width: m-content;
} */
.nav_container{
    max-width: 1152px;

}
.left_nav{
    display: flex;
}
.nav_field{
    display: flex;
    width: max-content;
    height: 100%;
    background: rgba(51, 52, 52, 0.68);
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: #ffffff;
}
.nav_us_name{
    font-size: 18px;
}
.nav_work_inf{
    display: flex;
    border-bottom: 3px solid rgba(51, 52, 52, 0.68);
}
.nav_ogl{
    display: flex;
    flex-direction: column;
    padding: 0.5em 5em 0.5em 1em;
}
.nav_ogl_img_ob{
    display: flex;
    margin-top: 3.1em;
    padding-left: 1em;
}
.nav_ogl_img{
    width: 40px;
    height: 40px;
    position: bottom;
}
.nav_menu_li{
    display: flex;
    padding: 1em 0;
    margin: 1em 2em 1em 1.1em;
}
.nav_menu_li:last-child{
    margin-bottom: 2em;
}
.nav_menu_li_a{
    display: flex;
    align-items: center;
}
.nav_li_img{
    margin-right: 1em;
}
.nav_topmenu{
    display: flex;
    position: absolute;
    top: 3.36em;
    right: 1.7em;
}
.nav_topmenu_field{
    display: flex;
    width: 100%;
    height: fit-content;
    background: linear-gradient(rgba(144, 148, 148, 1), rgba(92, 94, 94, 1));
}
.nav_topmenu_n_s_h{
    display: flex;
    width: max-content;
    height: fit-content;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    color: #ffffff;
}
.nav_topmenu_n{
    display: flex;
    margin: 1em 1.5em 1em 3em;
    align-items: center;
}
.nav_topmenu_s{
    display: flex;
    margin: 1em 1.5em 1em 0;
    align-items: center;
}
.nav_topmenu_h{
    display: flex;
    margin: 1em 1.5em 1em 0;
    align-items: center;
}
.nav_topmenu_f_f_l{
    display: flex;
    align-items: center;
    margin-left: 14em;
}
.nav_topmenu_f{
    margin-right: 1em;
}
.nav_topmenu_l{
    margin: 0em 0.8em;
}
.input-button-container {
    display: flex;
    border: 1px solid #aaa;
    border-radius: 4px; /* Для скругления углов */
  }
  
  .input-button-container input {
    flex-grow: 1; /* Поле занимает всё доступное пространство */
    border: none; /* Границы отсутствуют */
    padding: 5px;
    outline: none; /* Очертание при фокусе отсутствует */
  }
  
  .input-button-container button {
    background: #fff;
    border: none;
    padding: 5px;
    cursor: pointer; /* Курсор в виде указателя */
  }
.nav_topmenu_s_i_a_t{
    display: flex;
    align-items: center;
}
.nav_topmenu_s_i_a_t_li{
    margin: 0 0.5em 0em 0.5em;
}
/* .nav_topmenu_s_i_a_t_li:last-child{
    padding-right: 3em;
} */
.nav_topmenu_i_img{
    width: 30px;
    height: 30px;
}
.dasdhboard{
    margin: 4em 0 4em 0;
}
.all_becklog{
    display: flex;
    justify-content: space-between;
}
.becklog{
    display: flex;
    max-width: 256px;
    max-height: fit-content;
    background-color: rgba(113, 45, 26, 0.9);
    border-radius: 12px;
    flex-wrap: wrap;
    flex-direction: column;
}
/* .becklog1{
    display: flex;
    padding-bottom: 2em;
    margin: 0 0 0 5em;
    max-width: 256px;
    max-height: fit-content;
    background-color: rgba(113, 45, 26, 0.9);
    border-radius: 12px;
    flex-wrap: wrap;
    flex-direction: column;
} */
.becklog_name{
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: #ffffff;
    padding: 21px 161px 26px 28px;
}
.becklog_item{
    display: flex;
    background-color: rgba(146, 114, 104, 0.9);
    max-width: 224px;
    margin: 0 16px 2em 16px;
    flex-wrap: wrap;
    flex-direction: column;
}
.becklog_item_taskname{
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: #ffffff;
    margin: 16px 5px 15px 12px;
}
.becklog_item_creator{
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    color: #ffffff;
    margin: 16px 5px 15px 12px;
    
}
.becklog_item_img{
    display: flex;
    margin: 10px 0px 30px 12px ;
}
/* .becklog_item1{
    display: flex;
    margin-top: 6em;
    background-color: rgba(146, 114, 104, 0.9);
    max-width: 224px;
    margin: 2em 16px 0 16px;
    flex-wrap: wrap;
    flex-direction: column;
} */





.footer{
    /* margin: 20px 0px 0px 0px; */
    background-color: rgba(170, 172, 172, 1);
}
.fot{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
