.header {
    padding: 1em 0px;
    font-size: 24px;
    line-height: normal;
    background: #ffffff;
    color: black;
}
.container_enter{
    max-width: 1152px;
    margin: 0 auto;
    padding: 0px 15px;
}
.head_cont{
    display: flex;
}
.nav_cont{
    display: flex;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

}
.nav{
    display: flex;
    padding: 0 auto;
    justify-content:space-between;
    align-items: center;
}
.menu{
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}
.menu-item{
    padding-right: 73px;
}
.menu-item:first-child{
    padding-left: 181px;
}
.cab{
    display: flex;
    padding-right: 12px;
}
a{
    text-decoration: none;
    color: inherit;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: rgba(255, 255, 255, 0.95);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}
.out_enter{
    display: flex;
    max-width: 450px;
    max-height: 500px;
    background-color: rgba(225, 106, 72, 1);

}
.footer{
    margin: 20px 0px 0px 0px;
    background-color: #202931;
}
.fot{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
